<div class="reveal" id="searcher" data-reveal data-animation-in="hinge-in-from-top" data-animation-out="hinge-out-from-bottom">
    <h3 class="subheader revealHeader"></h3>
    <button class="close-button revealCloser" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>   
    <div class="row v-scroll generalRevealer" id="revealDiv" class="text-center"></div>
</div>