 <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="http://localhost:2225/css/foundation.css">
    <link rel="stylesheet" href="http://localhost:2225/css/app.css">
    <link rel="stylesheet" href="http://localhost:2225/css/icons/foundation-icons.css">
</head>